@media screen and (max-width: 800px) {
    /* portada */
    .titulo {
        font-size: 45px;
        margin-top: 30px;
        text-align: center;
    }
    .title-a {
        font-size: 18px;
        text-align: center;
    }
    .portada {
        height: auto;
    }
    .portada .button {
        display: inline-block;
        margin-bottom: 20px;
        justify-content: center;
    }
    /* guitarras */
    .guitarras {
        text-align: center;
    }
    .izquierda,
    .derecha {
        float: none;
        position: static;
    }
    .title-b {
        margin: 0;
    }
    .guitarra li {
        list-style: none;
    }
    .contenedor-guitarra-b {
        position: static;
        margin: 0;
    }
    /* guitarras */
}